
@{
    ViewBag.Title = "Sliderbar";
}

<h2>SliderBar</h2>


@section header{
    <style type="text/css">
        .slider{
            width:300px;
        }
            .slider input {
              
                -webkit-appearance:none;
                width:300px;
                height:20px;
                border-radius:2px;
                border:1px solid #ddd;
                outline:none;
                box-shadow:0 1px 1px #fff, inset 0 1px 1px #ddd;
                max-width:300px;

            }
                .slider input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 9px;
                    height: 18px;
                    background-color: dodgerblue;
                    border-radius: 50px;
                    border: 1px solid dodgerblue;
                    outline: none;
                    box-shadow: 0 0 2px #999;
                }
        .timeline {
            padding:0;
            margin:0;
            list-style:none;
        }
            .timeline li {
                width: 2%;
                height: 100%;
                float: left;
                height:11px;
                position: relative;
                padding-left: 1.75%;
                box-sizing: border-box;
                /*padding-top: 0px;
                padding-bottom: 0px;
                margin-bottom:0px;*/
                /*min-width:2px;
                max-width:2px;*/
            }
            .timeline li:nth-child(3) {
                padding-left:1.60%
            }
                .timeline li:nth-child(4) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(5) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(6) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(7) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(8) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(9) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(10) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(11) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(12) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(13) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(14) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(15) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(16) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(17) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(18) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(19) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(20) {
                    padding-left: 1.60%
                }
                .timeline li:nth-child(21) {
                    padding-left: 1.60%
                }
            .timeline li::after {
                height:100%;
            }
            .timeline li:nth-last-child(-n+2){
                

            }
                .timeline li:after {
                content:'';
                width:1px;
                height: 10px;
                background-color:#999;
                position:absolute;
            }
        /*li {
            width:2px;
        }*/
    </style>
}



<div class="slider">
    <ul class="timeline">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*this is 10*@
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*this is 20*@
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*this is 30*@
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*this is 40*@
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*<li></li>*@
        @*this is 50*@
        @*<li></li>*@
        @*<li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>*@
        @*this is 60*@
        @*<li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>*@
        @*this is 70*@
        @*<li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>*@
        @*this is 80*@
        @*<li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>*@
        @*this is 90*@
        @*<li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>*@
        @*this is 100*@

    </ul>
    <input type="range" min="0" max="100" step="2" value="0" onchange="test()"/>
</div>




@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {

        //    //On click it inactivates the last one
        //    $('.progressBar').on('click', 'li', function () {
        //        $('.progressBar li.active').removeClass('active');
        //        $(this).addClass('active');
        //    });

        //    //On click just makes next one active
        //    $('.progressBar').on('click', 'li', function () {
        //        $(this).addClass('active');
        //    });
        //    test = function () {
        //        alert('test');
        //    };
        //})

        //test = function () {
        //    alert($(this).val().toString());
        //    $(this).val();
        //};
    </script>
}